/* FONTE */

@font-face {
  font-family: inter-bold;
  src: url(/fonte/Inter_28pt-Bold.ttf);
}

@font-face {
  font-family: inter-regular;
  src: url(/fonte/Inter_24pt-Regular.ttf);
}

@font-face {
  font-family: inter-light;
  src: url(/fonte/Inter_24pt-ExtraLight.ttf);
}

@font-face {
  font-family: brødtekst;
  src: url(/fonte/IBMPlexSans-Medium.ttf);
}

@font-face {
  font-family: sedgwick;
  src: url(/fonte/SedgwickAve-Regular.ttf);
}

@font-face {
  font-family: lora;
  src: url(/fonte/Lora-Regular.ttf);
}

@font-face {
  font-family: staatliches;
  src: url(/fonte/Staatliches-Regular.ttf);
}

/* Font classes */

.inter-bold {
  font-family: inter-bold;
}

.inter-regular {
  font-family: inter-regular;
}

.inter-light {
  font-family: inter-light;
}

.brødtekst {
  font-family: brødtekst;
}

.sedgwick {
  font-family: sedgwick;
}

.lora {
  font-family: lora;
}

.staatliches {
  font-family: staatliches;
}

/* Farvekoder */

:root {
  --beige-farve: #f5efe5;
  --hvid-farve: #ffffff;
  --sort-farve: #000000;
  --rod-farve: #ff5151;
  --gul-farve: #ffe37e;
  --blaa-farve: #74a3ea;
}

/* BAGGRUNDSFARVER */

.baggrundHvid {
  background-color: var(--hvid-farve);
}
.baggrundSort {
  background-color: var(--sort-farve);
}
.baggrundRod {
  background-color: var(--rod-farve);
}
.baggrundGul {
  background-color: var(--gul-farve);
}
.baggrundBlaa {
  background-color: var(--blaa-farve);
}

/* TEKSTFARVER */

.tekstHvid {
  color: var(--hvid-farve);
}
.tekstSort {
  color: var(--sort-farve);
}
.tekstRod {
  color: var(--rod-farve);
}
.tekstGul {
  color: var(--gul-farve);
}
.tekstBlaa {
  color: var(--blaa-farve);
}
