/* FONTE */

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.brødtekst {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.staatliches {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sedgwick {
  font-family: "Sedgwick Ave", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Farvekoder */

:root {
  --beige-farve: #f5efe5;
  --hvid-farve: #ffffff;
  --sort-farve: #000000;
  --rod-farve: #ff5151;
  --gul-farve: #ffe37e;
  --blaa-farve: #74a3ea;
}

/* BAGGRUNDSFARVER */

.baggrundHvid {
  background-color: var(--hvid-farve);
}
.baggrundSort {
  background-color: var(--sort-farve);
}
.baggrundRod {
  background-color: var(--rod-farve);
}
.baggrundGul {
  background-color: var(--gul-farve);
}
.baggrundBlaa {
  background-color: var(--blaa-farve);
}

/* TEKSTFARVER */

.tekstHvid {
  color: var(--hvid-farve);
}
.tekstSort {
  color: var(--sort-farve);
}
.tekstRod {
  color: var(--rod-farve);
}
.tekstGul {
  color: var(--gul-farve);
}
.tekstBlaa {
  color: var(--blaa-farve);
}
