.brødtekst {
  margin-bottom: 1rem;
}
p {
  place-self: center;
}
h2 {
  place-self: center;
}
.testTekst {
}
.dreamteam {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
}

.brødtekst {
  padding: 20px 0px 20px 0px;
  width: 800px;
}

.dreamteam h3 {
}
.ch {
  margin-right: 3rem;
}

/* .Hincke {
  grid-row: 2/3;
}

.ch {
  grid-row: 3/4;
}
.Blom {
  grid-row: ;
}
.abl {
  grid-row: 3/-2;
}
.Noe {
  grid-column: 4/-3;
}
.brn {
  grid-row: 3/4;
}
.Bjarke {
} */

.lf_img {
  display: block;
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: 0% 20%;
  margin: 0 auto;
}
