/* FORSIDE */

.header-wrapper {
  position: relative;
}

.testBillede {
  position: relative;
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 40%;
}

.header-tekst {
  font-size: 36px;
  position: absolute;
  top: 70%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.411);
  padding: 20px 30px 20px 30px;
}

@media (width >= 700px) {
  .testBillede {
    height: 1000px;
    object-fit: cover;
    object-position: 50% 30%;
  }
  .header-tekst {
    font-size: 42px;
    top: 70%;
    left: 35%;
    transform: translate(-70%, -70%);
  }
}

@media (width >= 900px) {
  .header-tekst {
    font-size: 60px;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
}

@media (width >= 1100px) {
  .header-tekst {
    font-size: 70px;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
}

@media (width >= 1400px) {
  .header-tekst {
    font-size: 90px;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
}

@media (width >= 1900px) {
  .header-tekst {
    font-size: 126px;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
}

/* VELKOMMEN-section */

.velkommen-wrapper {
  position: relative;
  max-width: 1800px;
  margin: 0 auto;
  padding: 180px 0;
}

.velkommen-wrapper img {
  display: none;
}

.velkommen-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.velkommen-titel {
  text-align: center;
  font-size: 42px;
  padding-bottom: 20px;
}

.velkommen-tekst {
  text-align: center;
  font-size: 26px;
  width: 500px;
  margin: 0 auto;
}

.linjeskift {
  display: none;
}

@media (width >= 700px) {
  .velkommen-titel {
    text-align: center;
    font-size: 72px;
    padding-bottom: 0;
  }
  .velkommen-tekst {
    text-align: center;
    font-size: 26px;
    width: 800px;
    margin: 0 auto;
    padding: 30px 0;
  }
  .linjeskift {
    display: inline;
  }
}

@media (width >=1100px) {
  .velkommen-wrapper {
    padding: 0;
    margin: 0 auto;
  }
  .velkommen-wrapper img {
    display: block;
    width: 100%;
    height: auto;
  }
}

/* LINJEFAG-section */
.linjefag-wrapper {
  background-color: #ffe37e;
  padding: 20px 10px 40px 10px;
}

.linjefag-section {
  display: grid;
}

.linjefag-liste {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.linjefag-liste a:hover {
  color: var(--hvid-farve);
}

.linjefag-section h2 {
  font-size: 32px;
}

.linjefag-streg {
  width: 200px;
  height: 1px;
  background-color: black;
  margin: 10px 0;
}

.linjefag-section a {
  font-size: 64px;
  color: black;
  text-decoration-thickness: 3px;
}

.psyk {
  text-underline-offset: 16px;
  padding-bottom: 20px;
}

.linjefag-billede {
  max-width: 530px;
  margin: 0 auto;
}

@media (width >= 700px) {
  .linjefag-section {
    padding: 30px 10px 80px 30px;
  }

  .linjefag-section h2 {
    font-size: 60px;
  }
  .linjefag-streg {
    width: 300px;
    height: 2px;
    background-color: black;
    margin: 10px 0;
  }
  .linjefag-section a {
    font-size: 120px;
    text-decoration-thickness: 6px;
  }
  .psyk {
    text-underline-offset: 27px;
    padding-bottom: 20px;
  }
  .linjefag-billede {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

@media (width >= 1200px) {
  .linjefag-section {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 2400px;
    margin: 0 auto;
  }
}

/* EFTERSKOLELIV-section */

.efterskoleliv {
  background-image: url(../Gallery/efterskoleliv.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  height: 1200px;
  background-repeat: no-repeat;
}

.tekst-boks {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  max-width: 800px;
  margin: 0 auto;
}

.tekst-boks a:hover {
  color: var(--gul-farve);
}

.efterskoleliv-titel {
  font-size: 64px;
  text-align: center;
  padding-left: 20px;
  margin: 0 auto;
}

.efterskole-vertikal-streg {
  display: none;
}

.efterskole-horisontal-streg {
  max-width: 800px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.efterskoleliv-tekst {
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px;
}

.efterskoleliv-tekst a {
  color: white;
}

@media (width >= 1100px) {
  .tekst-boks {
    position: absolute;
    bottom: 60px;
    max-width: 1100px;
    padding-left: 60px;
    margin: 0;
  }
  .efterskoleliv-titel {
    font-size: 128px;
    padding-left: 20px;
    margin: 0;
    text-align: left;
  }
  .efterskole-vertikal-streg {
    display: inline;
    position: absolute;
    width: 3px;
    background-color: white;
    left: 35px;
    top: 0;
    bottom: 0;
  }
  .efterskole-horisontal-streg {
    width: 1000px;
    margin-left: 20px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
  }
  .efterskoleliv-tekst {
    font-size: 36px;
    padding: 20px 20px;
  }
}

/* SPØRG ELEVERNE-section */
.spørg-section {
  height: 1100px;
  position: relative;
}

.spørg-tekstboks {
  position: absolute;
  top: 30px;
  right: 0px;
  text-align: center;
}

.spørg-titel {
  font-size: 128px;
  letter-spacing: 2px;
  padding-right: 0px;
}

ul {
  padding-top: 20px;
  letter-spacing: 2px;
  padding-right: 25px;
}

li {
  list-style-type: none;
  font-size: 36px;
  padding: 30px 0;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

li:hover {
  color: var(--gul-farve);
  cursor: pointer;
}

.spørg-vertikal-streg {
  display: none;
}

@media (width >= 800px) {
  .spørg-section {
    height: 800px;
  }
  .spørg-titel {
    padding-right: 25px;
  }
  .spørg-tekstboks {
    text-align: right;
    padding-right: 40px;
    padding-top: 20px;
  }
  .spørg-vertikal-streg {
    display: inline;
    position: absolute;
    width: 3px;
    background-color: white;
    right: 30px;
    bottom: 0;
    top: 20px;
  }
}

@media (width >= 1400px) {
  .spørg-section {
    height: 1000px;
  }
  li {
    list-style-type: none;
    font-size: 64px;
    padding: 30px 0;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 1px;
  }
}

/* SPØRG ELEVERNE svar-section */

.svar {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  font-size: 46px;
  padding-top: 130px;
}

.svar p {
  padding-bottom: 150px;
}

@media (width >= 800px) {
  .svar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-size: 46px;
    padding-top: 180px;
  }

  .svar p {
    padding-bottom: 150px;
  }
}

@media (width >= 1400px) {
  .svar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-size: 70px;
    padding-top: 200px;
  }

  .svar p {
    padding-bottom: 150px;
  }
}

.svar-2-variant {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  font-size: 36px;
  padding-top: 130px;
  padding-left: 5px;
  padding-right: 5px;
}

.svar-2-variant p {
  padding-bottom: 80px;
}

@media (width >= 800px) {
  .svar-2-variant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-size: 36px;
    padding-top: 130px;
  }

  .svar-2-variant p {
    padding-bottom: 150px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (width >= 1400px) {
  .svar-2-variant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-size: 48px;
    padding-top: 250px;
  }

  .svar-2-variant p {
    padding-bottom: 150px;
  }
}

.tilbage-knap {
  position: absolute;
  top: 0px;
  right: 20px;
  bottom: 1100px;
  background: none;
  border: none;
  font-size: 36px;
  text-decoration: underline;
}

@media (width >= 790px) {
  .tilbage-knap {
    position: absolute;
    top: 0px;
    right: 50px;
    bottom: 630px;
    background: none;
    border: none;
    font-size: 36px;
    text-decoration: underline;
  }
}

@media (width >= 850px) {
  .tilbage-knap {
    position: absolute;
    top: 0px;
    right: 30px;
    bottom: 800px;
    background: none;
    border: none;
    font-size: 36px;
    text-decoration: underline;
  }
}

@media (width >= 1400px) {
  .tilbage-knap {
    position: absolute;
    top: 0px;
    right: 50px;
    bottom: 800px;
    background: none;
    border: none;
    font-size: 36px;
    text-decoration: underline;
  }
}

.tilbage-knap:hover {
  color: var(--gul-farve);
  cursor: pointer;
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fade.show {
  opacity: 1;
  pointer-events: auto;
  position: relative;
}

.fade.hide {
  opacity: 0;
  pointer-events: none;
}
